.swatch {
	height: 100px;
	width: 100px;
}

h3 {
	color: #95A5A6;
}

h1 {
	color: #ECF0F1;
}

h2 {
	color: #95A5A6;
}

.align-center, .align-center img {
	margin-left: auto;
	margin-right: auto;
}

.icon-background { 
	background-color: #FFBE00;
}

.android-containers {
    width: 360px;
    height: 640px;
}

.subtle-background {
    background-color: #F2F2F2;
}

p {
    font-size: 12px;
}

.android-sketch {
    margin-top: 20px;
    margin-right: 80px;
    width: 360px;
    margin-bottom: 60px;
    box-sizing: content-box;
    padding-left: 15px;
}

.android-sketch img {
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

.subtle-header {
    color: #000;
}

.navigation {
    font-size: 12px;
    line-height: 32px;
}